<div class={{ (datasource "data").class }}>
	{{ data.content }}
	// switch (data.content)
	//	case div: gomplate -d data=data.content -f div.tmpl
	//	case h1: gomplate -d data=data.content -f h1.tmpl
	//  .
	//  .
	//  .
	//  default: return to the template that called it
</div>

idea is to return string 